@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-Bold.eot');
  src: local('TT Norms Bold'), local('TTNorms-Bold'),
  url('../fonts/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-Bold.woff') format('woff'),
  url('../fonts/TTNorms-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-Regular.eot');
  src: local('TT Norms Regular'), local('TTNorms-Regular'),
  url('../fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-Regular.woff') format('woff'),
  url('../fonts/TTNorms-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-ExtraBold.eot');
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
  url('../fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Raleway-ExtraBold.woff') format('woff'),
  url('../fonts/Raleway-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.eot');
  src: local('Raleway'), local('Raleway-Regular'),
  url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Raleway-Regular.woff') format('woff'),
  url('../fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBold.eot');
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
  url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Raleway-SemiBold.woff') format('woff'),
  url('../fonts/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.eot');
  src: local('Raleway Bold'), local('Raleway-Bold'),
  url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Raleway-Bold.woff') format('woff'),
  url('../fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
